.home {
  margin: 50px 0;
  display: flex;
  /* justify-content: center; */
  table-layout: fixed;
  text-align: left;
}

.table {
  width: 80%;
  table-layout: fixed;
  border-collapse: collapse;
  outline: 1px red dashed;
}

/*
.table__body {
  width: 100%;
  border: 1px solid green;
}

tbody tr {
  /* border: 1px solid green; 
}

tbody tr td {

  width: 16.67%;
}
/* thread th {
  width: 16.667%;
} */

/* thead th:nth-child(1) {
  width: 15%;
}

thead th:nth-child(2) {
  width: 17%;
}

thead th:nth-child(3) {
  width: 17%;
}

thead th:nth-child(4) {
  width: 17%;
}

thead th:nth-child(5) {
  width: 17%;
}

thead th:nth-child(6) {
  width: 17%;
} */

/* th, td {
  padding: 10px;
  border: 1px dashed red;
}

th {
  font-size: 16px;
  font-weight: 500;
} */
