.favorites {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.favourites__title {
  font-size: 28px;
  font-weight: 500;
  color: var(--color-white);
  text-align: center;
}

.favourites__button-back {
  margin-top: 20px;
  border-radius: 10px;
  color: var(--color-white);
  font-weight: 500;
  border: 1px solid var(--color-purple);
  background: transparent;
  padding: 6px 15px;
  align-self: flex-start;
  transition: 0.7s ease;
  align-self: center;
}

.favourites__button-back:hover {
  transform: scale(1.1);
}
@media(max-width: 850px) {
  .favorites {
    overflow: auto;
  }
}
@media (max-width: 650px) {
  .favourites__title{
    font-size: 17px;
  }
}
