.details {
  margin: 50px 0;
  display: flex;
  justify-content: center;
}

table {
  width: 60%;
  table-layout: fixed;
  border-collapse: collapse;
}

th, td {
  font-size: 16px;
  font-weight: 500;
  padding: 14px;
  text-align: center;
  text-wrap: nowrap;
}

th {
  font-weight: 600;
}
